<div class="container">

  <div ngf-drop ngf-select ng-model="$ctrl.files" class="drop-box"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false" ngf-select-disabled="true">

  <div class="pull-right">
    <form role="search">

      <input ng-model="search" type="text" class="form-control" placeholder="Search">

    </form>
  </div>
  <h1 class="page-header">{{ 'home.availableData' | translate }}</h1>
  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>


  <div class="row">

    <div class="thumbnail col-md-4 col-lg-4 col-sm-6 nav nav-tabs nav-stacked" ng-repeat="thing in $ctrl.awesomeThings | filter: search">
      <div class="caption">
        <h4><a href="res/{{thing.code}}" target="_self" tooltip="{{thing.info}}">{{thing.name}}</a>
          <button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button>
        </h4>
        <div>{{thing.date}} by {{thing.user}}</div>
      </div>
      <div class="file-qrcode">
        <qrcode version="10" error-correction-level="M" size="250" data="gateway://{{$ctrl.host}}:{{$ctrl.port}}/res/{{thing.code}}" href="gateway://{{$ctrl.host}}:{{$ctrl.port}}/res/{{thing.code}}"></qrcode>
      </div>
    </div>
    <div class="thumbnail col-md-4 col-lg-4 col-sm-6 nav nav-tabs nav-stacked" ng-repeat="upload in $ctrl.uploadInProgress">
      <div class="caption">

        <h4><a href="" tooltip="Upload in progress: {{upload.progress}}%">{{upload.file}}</a>
          <button type="button" class="close">&times;</button>
        </h4>
        <div>Upload in progress</div>
        <div ng-hide="{{upload.progress === 100 }}"
        style="text-align:center;"
        round-progress
        max="100"
        current="upload.progress"
        color="#45ccce"
        bgcolor="#eaeaea"
        radius="125"
        stroke="80"
        semi="false"
        rounded="false"
        clockwise="true"
        responsive="false"
        duration="0"
        animation="easeInOutQuart"
        animation-delay="0" />

      </div>


    </div>
  </div>
</div>
