<navbar></navbar>

<div class="container">

  <div ngf-drop ngf-select ng-model="main.files" class="drop-box pull-right"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
  accept="image/*,application/pdf"
  ngf-pattern="'image/*,application/pdf,application/zip'">Drop zips, pdfs or images here or click to upload</div>
  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  <h1 class="page-header">Available data </h1>

  <div class="row">

    <div class="thumbnail col-md-4 col-lg-4 col-sm-6 nav nav-tabs nav-stacked" ng-repeat="thing in main.awesomeThings">
      <div class="caption">
        <h4><a href="res/{{thing.code}}" target="_self" tooltip="{{thing.info}}">{{thing.name}}</a>
          <button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button>
        </h4>
        <div>{{thing.date}}</div>
      </div>
      <div class="file-qrcode">
        <qrcode version="10" error-correction-level="M" size="250" data="gateway://{{main.host}}:{{main.port}}/res/{{thing.code}}" href="gateway://{{main.host}}:{{main.port}}/res/{{thing.code}}"></qrcode>
      </div>
    </div>
    <div class="thumbnail col-md-4 col-lg-4 col-sm-6 nav nav-tabs nav-stacked" ng-repeat="upload in main.uploadInProgress">
      <div class="caption">

        <h4><a href="" tooltip="Upload in progress: {{upload.progress}}%">{{upload.file}}</a>
          <button type="button" class="close">&times;</button>
        </h4>
        <div>Upload in progress</div>
        <div ng-hide="{{upload.progress === 100 }}"
        style="text-align:center;"
        round-progress
        max="100"
        current="upload.progress"
        color="#45ccce"
        bgcolor="#eaeaea"
        radius="125"
        stroke="80"
        semi="false"
        rounded="false"
        clockwise="true"
        responsive="false"
        duration="0"
        animation="easeInOutQuart"
        animation-delay="0" />

    </div>


  </div>

</div>

<footer></footer>
